@import 'colors';

body{
    font-family: "Bai Jamjuree";
    font-size: 18px;
    font-weight: 400;
    color: $DarkGrayishBlue;
    text-align: center;
}
.container{
    max-width: 1440px;
    width: 100%;
    margin: auto;
    background: no-repeat  url("../asset/images/bg-header-desktop.png");
    background-size: 100%;
}
.section1{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 9.9rem;

    &__title{
        margin-top: 3.9rem;
        font-size: 2.9rem;
        font-weight: 700;
        letter-spacing: -0.98px;
    }
    &__text{
        font-size: 1.28rem;
        color: $GrayishBlue;
        margin-top: 1.4rem;
        text-align: center;
        letter-spacing: -0.1px;
        max-width: 700px;
        line-height: 1.9rem;
    }
    &__group-btn{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.btn{
    position: relative;
    border-radius: 5rem;
    background-color: $LightBlue;
    color: $white;
    font-weight: 600;
    letter-spacing: 0.45px;
    margin: 0.35rem;
    top: 1.25rem;
    white-space: nowrap;
    text-decoration: none;
    padding-top: 1.05rem;
    margin-top: 2rem;
    padding-bottom: 1.05rem;
    padding-left: 2.32rem;
    padding-right: 2.32rem;
    -webkit-box-shadow: inset 1px -4px 1px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 1px -4px 1px 0px rgba(0,0,0,0.1);
    box-shadow: inset 1px -4px 1px 0px rgba(0,0,0,0.1);
    transition: all 0.2s ease-in-out;
    &:hover{
        background-color: $LightBlueHover;
    }
    &--green{
        background-color: $StrongCyan;
        &:hover{
            background-color: $StrongCyanHover;
        }
    }
}
.section2{
    display: flex;
    flex-flow: column;
    align-items: center;

    &__title{
        margin-top: 10.9rem;
        font-size: 2.2rem;
        font-weight: 700;
        letter-spacing: -0.15px;
    }
    &__text{
        margin-top: 1.49rem;
        color: $GrayishBlue;
        text-align: center;
        letter-spacing: 0.15px;
        max-width: 700px;
        line-height: 1.9rem;
    }
}
.section3{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin-top: 4.95rem;

    &__image{
        max-width: 752px;
        width: 100%;
    }
    &__article{
        padding-left: 6.9rem;
        .card{
            max-width: 340px;
            width: 100%;
            text-align: left;
            &__title{
                margin-top: 1rem;
                font-size: 1.5rem;
                font-weight: 700;
                letter-spacing: -0.15px;
            }
            &__text{
                margin-top: 0.74rem;
                margin-bottom: 3.65rem;
                font-size: 0.95rem;
                color: $GrayishBlue;
                letter-spacing: 0.5px;
                max-width: 700px;
                width: 100%;
                line-height: 1.9rem;
            }
        }
    }
    
}
.section4{
    text-align: center;

    &__title{
        margin-top: 10.9rem;
        font-size: 2.2rem;
        font-weight: 700;
        letter-spacing: -0.15px;
    }
    &__text{
       
        color: $GrayishBlue;
        text-align: center;
        letter-spacing: 0.15px;
        line-height: 1.9rem;
        max-width: 700px;
        width: 100%;
        margin: auto;
        margin-top: 1.49rem;
    }
    &__image{
        margin-top: 6.2rem;
        max-width: 905px;
        width: 100%;
    }
}
.section5{
    text-align: center;
    &__title{
        margin-top: 4.8rem;
        font-size: 2.2rem;
        font-weight: 700;
        letter-spacing: -0.15px;
    }
    &__text{
        color: $GrayishBlue;
        text-align: center;
        letter-spacing: 0.15px;
        line-height: 1.9rem;
        max-width: 700px;
        width: 100%;
        margin: auto;
        margin-top: 1.49rem;
    }

    .workflow{
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-top: 4.45rem;
        max-width: 1134px;
        width: 100%;
        margin: auto;
        &-card{
            &__title{
                margin-top: 2.96rem;
                font-size: 1.5rem;
                font-weight: 700;
                letter-spacing: -0.15px;
            }
            &__text{
                color: $GrayishBlue;
                text-align: center;
                font-size: 0.95rem;
                letter-spacing: 0.5px;
                line-height: 1.9rem;
                max-width: 350px;
                width: 100%;
                margin: auto;
                margin-top: 1.2rem;
            }
        }
    }
    &__partner{
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        max-width: 1107px;
        width: 100%;
        
        .partner{
            &__image{
                margin-top: 9.75rem;
            }
        }
    }
}
.section6{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5.5rem;

    &__title{
        margin-top: 4.8rem;
        font-size: 2.2rem;
        font-weight: 700;
        letter-spacing: -0.15px;
    }
    &__text{
        color: $GrayishBlue;
        text-align: center;
        letter-spacing: 0.15px;
        line-height: 1.9rem;
        max-width: 700px;
        width: 100%;
        margin: auto;
        margin-top: 1.49rem;
    }
    &__group-btn{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.footer{
    margin-top: 10.6rem;
    padding-top: 2.45rem;
    padding-bottom: 4rem;
    background-color: $footer;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: start;
    padding-left: 17.22rem;
    padding-right: 17.3rem;

    &__image{
        width: 55px;
    }
    &__links{
        position: relative;
        left: 0;
        display: flex;
        flex-flow: row;
        width: 100%;
        justify-content: start;
        margin-left: 4.8rem;
    }
    &__link{
        color: $DarkGrayishBlue;
        text-decoration: none;
        margin-bottom: 1.5rem;
        &:hover{
            color: $StrongCyanHover;
        }
    }
    &__colomn1{
        margin-top: 0.4rem;
        margin-left: 3.7rem;
        display: flex;
        flex-flow: column;
    }
    &__colomn2{
        margin-top: 0.4rem;
        margin-left: 6.1rem;
        display: flex;
        flex-flow: column;
    }
    &__colomn3{
        margin-top: 0.4rem;
        margin-left: 4.6rem;
        display: flex;
        flex-flow: column;
        
    }
    &__social-media{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        max-width: 120px;
        width : 100%;

        .social-media{
            &__image{
                font-size: 1.55em;
                color: $DarkGrayishBlue;
                &:hover{
                    color: $StrongCyanHover;
                }
            }
        }
        
    }
    
}
.attribution{
    background-color: $footer;
    width: 100%;
    text-align: center;
}

@media screen  and(max-width: 1202px) {
    .container{
        width: 80vw;
       
    }
    .section3{
        justify-content: center;
        &__article{
            padding-left: 0;
            .card{
                text-align: center;
            }
        }
    }
    .footer{
        padding-left: 1rem;
        padding-right: 1rem;

        &__links{
            position: relative;
            left: 0;
            display: flex;
            flex-flow: row;
            width: 100%;
            justify-content: space-between;
            margin-left: 0;
        }
        &__colomn1{
            margin-left: 0rem;
            padding-left: 2rem;
        }
        &__colomn2{
            margin-left: 0rem;
        }
        &__colomn3{
            margin-left: 0rem;  
            padding-right: 2rem;          
        }
    }
}
@media screen and (max-width: 400px) {
    body{
        background: no-repeat  url("../asset/images/bg-header-mobile.png");
    }
    .container{
        width: 83vw;
       
    }
    .section1{
        padding-top: 7.6rem;
        text-align: center;
        &__title{
            margin-top: 4.3rem;
            font-size: 2rem;
        }
        &__text{
            margin-top: 1.1rem;
            font-size: 1.03rem;
            line-height: 1.65rem;
        }
        &__group-btn{
            margin-top: 0.7rem;
        }
    }
    .btn{
        width: 100%;
        margin-top: 1.2rem;
    }
    .section2{
        padding-top: 7.6rem;
        text-align: center;
        &__title{
            margin-top: 3.25rem;
            font-size: 1.8rem;
        }
        &__text{
            margin-top: 1.1rem;
            font-size: 1.03rem;
            line-height: 1.65rem;
        }
    }
    
    .section4{
        padding-top: 7.6rem;
        text-align: center;
        &__title{
            margin-top: 3.25rem;
            font-size: 1.8rem;
        }
        &__text{
            margin-top: 1.1rem;
            font-size: 1.03rem;
            line-height: 1.65rem;
        }
    }
    .section5{
        padding-top: 7.6rem;
        text-align: center;
        &__title{
            margin-top: 3.25rem;
            font-size: 1.8rem;
        }
        &__text{
            margin-top: 1.1rem;
            font-size: 1.03rem;
            line-height: 1.65rem;
        }

        &__partner{
            flex-direction: column;
            .partner{
                &__image{
                    margin-top: 4rem;
                }
            }
        }
    }
    .section6{
        padding-top: 7.6rem;
        text-align: center;
        &__title{
            margin-top: 3.25rem;
            font-size: 1.8rem;
        }
        &__text{
            margin-top: 1.1rem;
            font-size: 1.03rem;
            line-height: 1.65rem;
        }
    }

    .footer{
        flex-direction: column;
        align-items: center;
        &__links{
            flex-direction: column;
            align-items: center;
            
        }
        &__colomn1{
            margin-top: 2rem;
            text-align: center;
            padding-left: 0;
        }
        &__colomn2{
            text-align: center;
        }
        &__colomn3{
            text-align: center;    
            padding-right: 0;        
        }
    }
}